<div li-block="Availability">
                    
                    
                    <div class="product-header_shipping-wrapper">
                      <template x-if="product.selected_or_first_available_variant.available == true">
            <div li-js-if="product.selected_or_first_available_variant.available == true" class="product-header_shipping">
        
                        <div class="product-header_shipping-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
                            <path fill="#202020" d="M6.702 20.329c-.861 0-1.569-.31-2.122-.93-.553-.62-.788-1.352-.704-2.197H2.384a.822.822 0 0 1-.606-.247.83.83 0 0 1-.246-.609c0-.241.082-.443.246-.605a.83.83 0 0 1 .606-.242h2.314a2.66 2.66 0 0 1 2.003-.873c.41 0 .785.078 1.126.236.34.157.633.37.88.637h4.98l2.33-10.124H5.596a.786.786 0 0 1-.602-.247.86.86 0 0 1-.23-.609c0-.241.082-.444.246-.608a.83.83 0 0 1 .612-.246h11.45c.265 0 .487.109.665.327.178.217.24.459.186.724l-.799 3.432h2.268a1.704 1.704 0 0 1 1.367.678l1.934 2.597c.152.208.251.423.3.645.05.222.053.455.012.698l-.744 3.734a.858.858 0 0 1-.3.502.827.827 0 0 1-.545.2h-1.363c.083.849-.156 1.582-.717 2.2-.562.618-1.273.927-2.135.927-.861 0-1.569-.31-2.122-.93-.553-.62-.788-1.352-.704-2.197H9.553c.083.849-.156 1.582-.717 2.2-.562.618-1.273.927-2.135.927Zm9.244-7.055h5.201l.162-.861-1.916-2.561H16.73l-.784 3.422Zm-2.06 1.325.163-.653c.108-.435.23-.972.363-1.609.073-.29.137-.567.191-.831.055-.264.109-.493.162-.688l.16-.652c.107-.435.228-.971.363-1.61.136-.637.254-1.175.356-1.612l.153-.656.22-.913-2.33 10.124.2-.9Zm-12.399-1.41a.788.788 0 0 1-.603-.246.853.853 0 0 1-.23-.606c0-.24.081-.442.243-.606a.828.828 0 0 1 .615-.246h4.006c.24 0 .442.083.606.247a.83.83 0 0 1 .246.61.816.816 0 0 1-.246.604.829.829 0 0 1-.606.242H1.487Zm2-3.782a.83.83 0 0 1-.612-.247.83.83 0 0 1-.246-.608c0-.242.082-.444.246-.608a.83.83 0 0 1 .612-.246h5.025c.24 0 .443.083.609.25a.836.836 0 0 1 .248.612.84.84 0 0 1-.857.847H3.487Zm3.227 9.218c.312 0 .58-.115.802-.345.223-.23.335-.502.335-.815 0-.312-.11-.58-.33-.802a1.104 1.104 0 0 0-.818-.334c-.304 0-.572.11-.803.33-.23.22-.346.492-.346.817 0 .305.115.572.345.803.23.231.502.346.815.346Zm10.5 0c.312 0 .58-.115.803-.345.222-.23.334-.502.334-.815 0-.312-.11-.58-.33-.802a1.104 1.104 0 0 0-.818-.334c-.304 0-.572.11-.803.33-.23.22-.346.492-.346.817 0 .305.115.572.345.803.23.231.502.346.815.346Z"></path>
                          </svg></div>
                        <div>Delivery: <span>1–3 Days</span></div>
                              </div>
    </template>
                      <div class="product-header_shipping">
                        <div class="product-header_shipping-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
                            <path fill="#202020" stroke="#202020" d="M12 2.345c2.024 0 3.803.704 5.355 2.133 1.524 1.401 2.3 3.285 2.3 5.705 0 .985-.217 1.97-.659 2.958a15.667 15.667 0 0 1-1.708 2.912 23.17 23.17 0 0 1-2.253 2.62 54.92 54.92 0 0 1-2.302 2.186l-.006.005-.005.005a.822.822 0 0 1-.317.188c-.146.047-.284.069-.413.069-.13 0-.263-.022-.402-.068a.766.766 0 0 1-.3-.183l-.009-.009-.01-.008a52.535 52.535 0 0 1-2.306-2.184 23.172 23.172 0 0 1-2.253-2.621 15.54 15.54 0 0 1-1.705-2.911c-.44-.989-.656-1.974-.657-2.96 0-2.42.777-4.303 2.298-5.704C8.198 3.05 9.976 2.345 12 2.345Zm0 .709c-1.935 0-3.59.669-4.932 2.003-1.35 1.342-2.014 3.065-2.014 5.126 0 1.42.593 2.958 1.698 4.603 1.105 1.646 2.745 3.475 4.907 5.486l.337.313.34-.309c2.213-2.007 3.87-3.838 4.953-5.49 1.079-1.648 1.657-3.187 1.657-4.603 0-2.06-.665-3.784-2.015-5.126v-.001C15.59 3.722 13.935 3.054 12 3.054Zm-.002 5.648c.366 0 .664.123.92.379.257.255.38.551.38.917s-.123.663-.378.917a1.234 1.234 0 0 1-.918.377c-.367 0-.663-.123-.917-.376a1.224 1.224 0 0 1-.377-.913c0-.322.094-.59.288-.824l.089-.098a1.22 1.22 0 0 1 .913-.379Z"></path>
                          </svg></div>
                        <div>Availability: <template x-if="product.selected_or_first_available_variant.available == true">
            <span li-js-if="product.selected_or_first_available_variant.available == true" class="text-color-green">
        available        </span>
    </template><template x-if="product.selected_or_first_available_variant.available == false">
            <span li-js-if="product.selected_or_first_available_variant.available == false" class="text-color-red">
        not available        </span>
    </template></div>
                      </div>
                    </div>
                    
                  
                </div> {% schema %} {
    "name": "Availability",
    "settings": [],
    "presets": [
        {
            "name": "Availability"
        }
    ]
} {% endschema %}