<div li-block="Description" {{ block.shopify_attributes }}>
                    
                    
                    <div class="product-header_description">
                      <div li-object="product.description" class="text-rich-text max-width-large w-richtext">{{ product.description }}</div>
                    </div>
                    
                  
                </div> {% schema %} {
    "name": "Description",
    "settings": [],
    "presets": [
        {
            "name": "Description",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}