<div li-block="Vendor" {{ block.shopify_attributes }}>
                    
                    
                    <div li-object="product.type" class="text-size-regular">{{ product.type }}</div>
                    
                  
                </div> {% schema %} {
    "name": "Vendor",
    "settings": [],
    "presets": [
        {
            "name": "Vendor",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}